source https://api.nuget.org/v3/index.json

storage: none
framework: netcore3.1, netstandard2.0, netstandard2.1

group client
    source https://api.nuget.org/v3/index.json
    storage:none
    framework: netstandard2.0

    nuget FSharp.Core
    nuget Fable.React
    nuget Fable.Elmish
    nuget Fable.Promise
    nuget Fable.Fetch
    nuget Fable.Browser.Geolocation
    nuget Fable.Browser.Navigator
    nuget Fable.Browser.Worker
    nuget Thoth.Json
    nuget Feliz.UseElmish
    nuget Zanaptak.TypedCssClasses

group server
    source https://api.nuget.org/v3/index.json
    storage:none
    framework: netcoreapp3.1

    nuget CosmoStore.TableStorage
    nuget FSharp.Core
    nuget Microsoft.NET.Sdk.Functions
    nuget Thoth.Json.Net
    # workaround for https://github.com/Azure/azure-functions-host/issues/6070
    nuget System.IdentityModel.Tokens.Jwt 5.5.0
    nuget WebPush
    nuget FSharp.Data

group test
    source https://api.nuget.org/v3/index.json
    storage:none
    framework: netcoreapp3.1

    nuget FSharp.Core
    nuget xunit
    nuget xunit.runner.visualstudio
    nuget Microsoft.NET.Test.Sdk

group build
    storage: none
    source https://api.nuget.org/v3/index.json

    nuget FSharp.Core
    nuget Fake.DotNet.Cli
    nuget Fake.DotNet.Paket
    nuget Fake.Core.Target
    nuget Fake.Core.Process
    nuget Fake.Core.String
    nuget Fake.Core.ReleaseNotes
    nuget Fake.IO.FileSystem
    nuget Fake.IO.Zip
    nuget Fake.Tools.Git
    nuget Fake.JavaScript.Yarn
    nuget FSharp.Compiler.Service
    nuget Fantomas 4.1.0-beta-003
    nuget Fantomas.Extras 4.1.0-beta-003

group infrastructure
    source https://api.nuget.org/v3/index.json
    storage:none
    framework: netcoreapp3.1

    nuget Pulumi.Azure 3.13.0
    nuget Pulumi.FSharp 2.7.1
    nuget Microsoft.Azure.Management.Fluent
    nuget Microsoft.Azure.Management.AppService.Fluent

group migration
    source https://api.nuget.org/v3/index.json
    storage:none
    framework: netcoreapp3.1

    nuget SQLProvider
    nuget FSharp.Data
    nuget Microsoft.Data.SQLite
    nuget Thoth.Json.Net
    nuget System.IdentityModel.Tokens.Jwt
