source https://api.nuget.org/v3/index.json

storage: none
framework: netcore3.1, netstandard2.0, netstandard2.1

group client
    source https://api.nuget.org/v3/index.json
    storage:none
    framework: netstandard2.0

    nuget FSharp.Core
    nuget Fable.React
    nuget Fable.Elmish
    nuget Fable.Promise
    nuget Fable.Fetch
    nuget Fable.Browser.Geolocation
    nuget Thoth.Json

group server
    source https://api.nuget.org/v3/index.json
    storage:none
    framework: netcoreapp3.1

    nuget CosmoStore.TableStorage
    nuget FSharp.Core
    nuget Microsoft.NET.Sdk.Functions
    nuget Thoth.Json.Net
    nuget Microsoft.IdentityModel.Protocols.OpenIdConnect
    nuget AccidentalFish.FSharp.Validation

group test
    source https://api.nuget.org/v3/index.json
    storage:none
    framework: netcoreapp3.1

    nuget FSharp.Core
    nuget xunit
    nuget xunit.runner.visualstudio
    nuget Microsoft.NET.Test.Sdk

group build
    storage: none
    source https://api.nuget.org/v3/index.json

    nuget FSharp.Core
    nuget Fake.DotNet.Cli
    nuget Fake.DotNet.Paket
    nuget Fake.Core.Target
    nuget Fake.Core.Process
    nuget Fake.Core.String
    nuget Fake.Core.ReleaseNotes
    nuget Fake.IO.FileSystem
    nuget Fake.IO.Zip
    nuget Fake.Tools.Git
    nuget Fake.JavaScript.Yarn
    nuget FSharp.Compiler.Service
    nuget Fantomas 3.3.0

group infrastructure
    source https://api.nuget.org/v3/index.json
    storage:none
    framework: netcoreapp3.1

    nuget Pulumi.Azure 1.13.0-preview
    nuget Pulumi.FSharp 1.10.1-preview

group migration
    source https://api.nuget.org/v3/index.json
    storage:none
    framework: netcoreapp3.1

    nuget SQLProvider
    nuget FSharp.Data
    nuget Microsoft.Data.SQLite
    nuget Thoth.Json.Net