@charset "UTF-8";

:root {
    --primary: #791716;
    --primary-hover: #ba2322;
    --primary-border: #380b0a;
    --menu: #c44d56;
    --menu-hover: #d7868d;
    --menu-border: #943138;
    --grey: #F1F1F1;
    --grey-hover: #ffffff;
    --grey-border: #cbcbcb;
    --white: #ffffff;
    --font: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --unit: 0.5rem;
    --unit-2: 1rem;
    --unit-3: 1.5rem;
    --unit-4: 2rem;
    --unit-7: 3.5rem;
}

html,
body {
    height: 100%;
    margin: 0;
    font-family: var(--font);
    line-height: 1.4;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

body {
}

nav {
    background-color: var(--primary);
    color: white;
    padding-top: var(--unit-2);
    display: grid;
    grid-template-rows: auto auto;
    grid-template-columns: auto auto;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;
}

nav img {
    display: block;
    height: var(--unit-3);
    grid-row: 1;
    grid-column: 1;
    justify-self: start;
    margin-left: var(--unit-2);
    margin-bottom: var(--unit-2);
}

nav button {
    cursor: pointer;
    color: var(--white);
    background-color: transparent;
    border: none;
    padding: 0;
    max-height: var(--unit-3);
    grid-row: 1;
    grid-column: 2;
    justify-self: end;
    margin-right: var(--unit-2);
    margin-bottom: var(--unit-2);
}

nav button:hover {
    color: var(--grey);
}

@keyframes fade-in {
    from {
        opacity: 0;
        height: 0;
    }
    to {
        opacity: 1;
        height: auto;
    }
}

nav ul {
    grid-row: 2;
    grid-column: 1 / span 2;
    padding: 0;
    margin: 0;
    list-style: none;
    border-top: 1px solid var(--white);
    opacity: 0;
    height: 0;
}

nav ul.show {
    animation: fade-in 0.2s ease-in forwards;
}

nav ul li {
    padding: var(--unit);
    border-bottom: 1px solid var(--grey-border);
    background-color: var(--menu);
    color: white;
}

nav ul li:hover {
    background-color: var(--menu-hover);
    cursor: pointer;
}

nav ul li:active, nav ul li.active {
    background-color: var(--primary);
    font-weight: bold;
}

@media screen and (min-width: 960px) {
    nav button {
        display: none;
    }

    nav ul {
        grid-row: 1;
        grid-column: 2;
        justify-self: end;
        display: flex;
        justify-content: flex-end;
        height: var(--unit-3);
        animation: initial;
        opacity: 1;
        border: none;
    }

    nav ul li {
        background-color: transparent;
        border: none;
        margin-right: var(--unit-2);
        padding: 0;
    }

    nav ul li:hover {
        background-color: transparent;
        text-decoration: underline;
    }

    nav ul li:focus {
        text-decoration: none;
    }
}

main {
    padding-top: var(--unit-7);
}