@charset "UTF-8";

:root {
    --primary: #791716;
    --primary-hover: #ba2322;
    --primary-border: #380b0a;
    --menu: #c44d56;
    --menu-hover: #d7868d;
    --menu-border: #943138;
    --grey: #F1F1F1;
    --grey-hover: #ffffff;
    --grey-border: #cbcbcb;
    --white: #ffffff;
    --danger: #f92d51;
    --danger-hover: #fb778f;
    --danger-border: #d3062a;
    --warning: #f7ca18;
    --warning-hover: #fadb62;
    --warning-border: #bc9707;
    --success: #3fc380;
    --success-hover: #79d5a7;
    --success-border: #2b8a5a;
    --dark: #383A42;
    --transparent-dark: #80383A42;
    --font: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --unit: 0.5rem;
    --unit-2: 1rem;
    --unit-3: 1.5rem;
    --unit-4: 2rem;
    --unit-5: 2.5rem;
    --unit-6: 3rem;
    --unit-7: 3.5rem;
    --unit-8: 4rem;
    --unit-9: 4.5rem;
    --unit-10: 5rem;
    --radius: var(--radius);
}

* {
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    margin: 0;
    font-family: var(--font);
    line-height: 1.4;
}

body > app {
    height: 100%;
    width: 100%;
    display: block;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    font-weight: 500;
}

h1 {
    font-size: var(--unit-5);
}

input, select, textarea {
    font-family: var(--font);
    border-radius: 0;
    display: block;
    box-sizing: border-box;
    font-size: var(--unit-2);
    padding: var(--unit);
    width: 100%;
    border: 1px solid var(--transparent-dark);
    border-style: inset;
}

input, select {
    height: var(--unit-5);
}

input.error {
    border: 2px solid var(--danger-border);
}

/* Buttons */
.btn, button, input[type=submit] {
    text-decoration: none;
    appearance: none;
    background-color: #fafbfc;
    border: 1px solid rgba(27, 31, 35, .15);
    border-radius: 0;
    box-shadow: #1b1f230a 0 1px, #ffffff40 0 1px inset;
    box-sizing: border-box;
    color: #24292e;
    cursor: pointer;
    display: inline-block;
    font-family: var(--font);
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    list-style: none;
    padding: 6px 16px;
    position: relative;
    transition: background-color .2s cubic-bezier(.3, 0, .5, 1), transform 100ms;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: middle;
    white-space: nowrap;
    word-wrap: break-word;

    &:hover {
        background-color: #f3f4f6;
        text-decoration: none;
        transition-duration: .1s;
        transform: translateY(1px)
    }

    &:disabled {
        background-color: #fafbfc;
        border-color: #1b1f2326;
        color: #959da5;
        cursor: default
    }

    &:active {
        background-color: #edeff2;
        box-shadow: #e1e4e833 0 1px inset;
        transition: none 0s;
    }

    &:focus {
        outline: 1px transparent;
    }

    &::before {
        display: none;
    }

    &::-webkit-details-marker {
        display: none;
    }

    & i {
        margin-right: var(--unit);
    }

    &.primary{
        background-color: var(--primary);
        border-color: var(--primary-border);
        color: var(--white);

        &:hover {
            background-color: var(--primary-hover);
        }
    }

    &.danger {
        background-color: var(--danger);
        border-color: var(--danger-border);
        color: var(--white);

        &:hover {
            background-color: var(--danger-hover);
        }
    }

    &.warning {
        background-color: var(--warning);
        border-color: var(--warning-border);
        color: var(--white);

        &:hover {
            background-color: var(--warning-hover);
        }
    }

    &.ghost {
        background-color: var(--white);
        border-color: var(--primary);
        color: var(--primary);
    
        &:hover {
            background-color: var(--primary-hover);
            border-color: var(--primary-hover);
            color: var(--white);
        }
    }
}

/* helper */
.center { text-align: center; }
.align-right { text-align: right; }

nav {
    background-color: var(--primary);
    color: white;
    padding-top: var(--unit-2);
    display: grid;
    grid-template-rows: auto auto;
    grid-template-columns: auto auto;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;
}

nav > a {
    margin-left: var(--unit-2);
    margin-bottom: var(--unit-2);
    grid-row: 1;
    grid-column: 1;
    justify-self: start;
}

nav > a img {
    display: block;
    height: var(--unit-3);
}

nav a:hover img, nav button:hover svg {
    background: rgba(255, 255, 255, .25);
    border-radius: var(--radius);
}

nav button {
    cursor: pointer;
    color: var(--white);
    background-color: transparent;
    border: none;
    padding: 0;
    max-height: var(--unit-3);
    grid-row: 1;
    grid-column: 2;
    justify-self: end;
    margin-right: var(--unit-2);
    margin-bottom: var(--unit-2);
}

nav button:hover {
    color: var(--grey);
    background: transparent;
}

@keyframes menu-open {
    from {
        opacity: 0;
        visibility: collapse;
        height: 0;
        border-top: none;
    }
    to {
        opacity: 1;
        visibility: visible;
        height: initial;
        border-top: 1px solid var(--white);
    }
}

nav ul {
    grid-row: 2;
    grid-column: 1 / span 2;
    padding: 0;
    margin: 0;
    list-style: none;
    opacity: 0;
    visibility: collapse;
    height: 0;
    box-sizing: content-box;
}

nav ul.show {
    animation: menu-open 0.2s ease-in forwards;
}

nav ul li a {
    display: block;
    padding: var(--unit);
    border-bottom: 1px solid var(--grey-border);
    background-color: var(--menu);
    color: white;
    text-decoration: none;
}

nav ul #user a {
    display: flex;
    align-items: center;
    padding: var(--unit);
    font-weight: 500;
}

nav ul #user a:hover {
    text-decoration: none;
}

nav ul #user a svg {
    margin-right: var(--unit);
}

nav ul li a:hover {
    background-color: var(--menu-hover);
    cursor: pointer;
}

nav ul li a:active, nav ul li a.active {
    background-color: var(--primary);
    font-weight: bold;
}

@media screen and (min-width: 960px) {
    nav button {
        display: none;
    }

    nav ul {
        grid-row: 1;
        grid-column: 2;
        justify-self: end;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        height: var(--unit-3);
        animation: initial;
        opacity: 1;
        visibility: visible;
        border: none;
    }

    nav ul li a, nav ul #user {
        background-color: transparent;
        border: none;
        margin-right: var(--unit-2);
        padding: 0;
    }

    nav ul li a:hover {
        background-color: transparent;
        text-decoration: underline;
    }

    nav ul li a:focus {
        text-decoration: none;
    }
}

main {
    padding-top: var(--unit-8);
    margin: 0 var(--unit-2);
}

#login {
    border: 1px solid var(--menu-border);
    padding: var(--unit-2);
    max-width: 400px;
    margin: var(--unit-2) auto auto;
}

#login input {
    margin: var(--unit-2) 0;
}

#login input:last-child {
    margin-bottom: 0;
}

label {
    font-weight: 500;
    display: block;
}

#add-location, #admin {
    margin: 0 var(--unit-4);
}

#add-location h1 {
    margin-bottom: var(--unit-2);
}

#add-location .loading {
    margin-top: calc(2 * var(--unit-10));
}

form > div {
    margin-top: var(--unit-4);

    & label {
        margin-bottom: var(--unit);
    }
}

#add-location form > div > p {
    margin: 0;
}

form > label {
    margin-bottom: var(--unit);

}

#add-location form .price {
    display: flex;
    align-items: center;
}

#add-location form .price input {
    flex: 1;
}

#add-location form .price select {
    border-left: none;
    max-width: var(--unit-10);
}


#add-location input[type=submit], #admin input[type=submit] {
    width: initial;
    margin-bottom: var(--unit-2);
}

#add-location .error input {
    border: 1px solid var(--danger);
}

#add-location .error p {
    color: var(--danger);
    line-height: 1;
    margin: 0;
    margin-top: var(--unit);
}

#add-location .error #locationPickerContainer {
    border: 1px solid var(--danger);
}

#locationPickerContainer button {
    display: block;
    margin-top: var(--unit-2);
}

#add-location #others {
    margin-top: var(--unit);
}

#add-location #others button {
    display: inline-block;
    margin-right: calc(var(--unit) / 2);
    margin-top: calc(var(--unit) / 2);
}

#add-location #others button:first-child {
    margin-left: 0;
}

#add-location #selectedOthers {
    margin: 0;
    padding: 0;
    list-style: none;
    margin-top: var(--unit-2);
}

#add-location #selectedOthers li {
    display: flex;
    align-content: center;
    justify-content: space-between;
    margin-bottom: var(--unit);
}

#add-location #selectedOthers li:last-child {
    margin-bottom: 0;
}

#add-location #selectedOthers li span {
    line-height: var(--unit-4);
    font-size: var(--unit-2);

}

#add-location #selectedOthers li button {
    padding: var(--unit);
    display: flex;
}

#add-location #take-picture {
    & button {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;

        & svg {
            margin-left: var(--unit-2);
        }

        & span {
            line-height: var(--unit-4);
            font-size: var(--unit-2);
        }
    }

    & img {
        margin: var(--unit) 0;
    }

    & p {
        margin-bottom: var(--unit);
    }

    &:has(img) p {
        margin-bottom: 0;
    }
}

#add-location pre {
    overflow-x: auto;
}

#submit-failed {
    margin-top: var(--unit-6);
}

#submit-failed code pre { 
    color: var(--danger-border);
    background-color: var(--grey);
    padding: var(--unit-2);
}

@media screen and (min-width: 600px) {
    #add-location, #admin {
        max-width: 600px;
        margin: auto;
    }
}

#world-map {
    margin: 0;
    padding: 0;
    max-width: initial;
    height: 100%;
}

#detail {
    z-index: 100;
    display: flex;
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .20);
}

#detail > div {
    border: 3px solid var(--primary);
    margin: auto;
    padding: var(--unit-3);
    background-color: var(--white);
    position: relative;
    width: calc(100vw - var(--unit-4));
    max-width: 420px;
    box-sizing: border-box;
}

#detail h1 {
    font-size: var(--unit-3);
}

#detail .close {
    position: absolute;
    right: -18px;
    top: -18px;
    background-color: var(--primary);
    color: var(--white);
    border-radius: 18px;
    height: 36px;
    width: 36px;
    cursor: pointer;
}

#detail img {
    width: 100%;
    margin-top: var(--unit-2);
}

#detail blockquote {
    margin: 0;
    margin-top: var(--unit-2);
    font-style: italic;
}

#detail p:last-of-type {
    margin-bottom: 0;
}

table {
    margin-top: var(--unit-2);
    width: 100%;
    border-collapse: collapse;
}

table th {
    text-align: left;
}

table th, table td {
    display: table-cell;
    border-top: 1px solid var(--grey);
    border-bottom: 1px solid var(--grey);
    box-sizing: border-box;
    border-collapse: collapse;
}

table th {
    color: var(--primary);
    cursor: pointer;
}

table th:active {
    color: var(--dark);
    font-weight: bold;
}

table th:hover {
    font-weight: bold;
    text-decoration: underline;
}

table th, table td {
    padding: var(--unit-2);
}

table tbody tr:nth-child(2n - 1) {
    background-color:var(--grey);
}

table a {
    color:var(--primary);
    text-decoration: none;
}

table a:hover {
    text-decoration: underline;
}

@media screen and (min-width: 960px) {
    main {
        max-width: 960px;
        margin: auto;
    }
}

.highscore {
    display: flex;
    align-items: center;
}

.highscore svg {
    margin-right: var(--unit);
    color: #F6CF57;
}

#manifesto h2 {
    margin-top: var(--unit-4);
    font-size: calc( 1.75 * var(--unit-2));
}

#manifesto ol {
    list-style: upper-roman;

    & li {
        padding: calc(var(--unit) / 2) 0;
    }
}


dt {
    font-weight: bold;
    margin-top: var(--unit-3);
    margin-bottom: var(--unit);
}

dd {
    margin: 0;
}

#settings h2 {
    margin: var(--unit-4) 0 var(--unit-2) 0;
}

#admin {
    & h1, h2 {
        margin-bottom: var(--unit-2);
    }

    .success {
        background-color: var(--success);
        border-radius: var(--radius);
        padding: var(--unit-2);
        color: var(--white);
    }
}