@charset "UTF-8";

:root {
    --primary: #791716;
    --primary-hover: #ba2322;
    --primary-border: #380b0a;
    --menu: #c44d56;
    --menu-hover: #d7868d;
    --menu-border: #943138;
    --grey: #F1F1F1;
    --grey-hover: #ffffff;
    --grey-border: #cbcbcb;
    --white: #ffffff;
    --danger: #f92d51;
    --danger-hover: #fb778f;
    --danger-border: #d3062a;
    --warning: #f7ca18;
    --warning-hover: #fadb62;
    --warning-border: #bc9707;
    --success: #3fc380;
    --success-hover: #79d5a7;
    --success-border: #2b8a5a;
    --dark: #383A42;
    --font: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --unit: 0.5rem;
    --unit-2: 1rem;
    --unit-3: 1.5rem;
    --unit-4: 2rem;
    --unit-5: 2.5rem;
    --unit-6: 3rem;
    --unit-7: 3.5rem;
    --unit-8: 4rem;
    --unit-9: 4.5rem;
    --unit-10: 5rem;
}

html,
body {
    height: 100%;
    margin: 0;
    font-family: var(--font);
    line-height: 1.4;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

input, select, textarea {
    font-family: var(--font);
    border-radius: 0;
    display: block;
    box-sizing: border-box;
    font-size: var(--unit-2);
    padding: var(--unit);
    width: 100%;
    border: 1px solid var(--dark);
    border-style: inset;
}

input, select {
    height: var(--unit-5);
}

input.error {
    border: 2px solid var(--danger-border);
}

/* Buttons */
.btn, button {
    text-decoration: none;
    appearance: none;
    background-color: #fafbfc;
    border: 1px solid rgba(27, 31, 35, .15);
    border-radius: 0;
    box-shadow: #1b1f230a 0 1px, #ffffff40 0 1px inset;
    box-sizing: border-box;
    color: #24292e;
    cursor: pointer;
    display: inline-block;
    font-family: var(--font);
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    list-style: none;
    padding: 6px 16px;
    position: relative;
    transition: background-color .2s cubic-bezier(.3, 0, .5, 1);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: middle;
    white-space: nowrap;
    word-wrap: break-word
}

.btn:hover, button:hover {
    background-color: #f3f4f6;
    text-decoration: none;
    transition-duration: .1s;
    transform: translateY(1px)
}

.btn:disabled, button:disabled {
    background-color: #fafbfc;
    border-color: #1b1f2326;
    color: #959da5;
    cursor: default
}

.btn:active, button:active {
    background-color: #edeff2;
    box-shadow: #e1e4e833 0 1px inset;
    transition: none 0s
}

.btn:focus, button:focus {
    outline: 1px transparent
}

.btn:before, button:before {
    display: none
}

.btn::-webkit-details-marker {
    display: none
}

.btn i, button i {
    margin-right: var(--unit)
}

.btn.primary, button.primary {
    background-color: var(--primary);
    border-color: var(--primary-border);
    color: var(--white)
}

.btn.primary:hover, button.primary:hover {
    background-color: var(--primary-hover)
}

.btn.danger, button.danger {
    background-color: var(--danger);
    border-color: var(--danger-border);
    color: var(--white)
}

.btn.danger:hover, button.danger:hover {
    background-color: var(--danger-hover)
}

.btn.warning, button.warning {
    background-color: var(--warning);
    border-color: var(--warning-border);
    color: var(--white)
}

.btn.warning:hover, button.warning:hover {
    background-color: var(--warning-hover)
}

nav {
    background-color: var(--primary);
    color: white;
    padding-top: var(--unit-2);
    display: grid;
    grid-template-rows: auto auto;
    grid-template-columns: auto auto;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;
}

nav > a {
    margin-left: var(--unit-2);
    margin-bottom: var(--unit-2);
    grid-row: 1;
    grid-column: 1;
    justify-self: start;
}

nav > a img {
    display: block;
    height: var(--unit-3);
}

nav a:hover img, nav button:hover svg {
    background: rgba(255, 255, 255, .25);
    border-radius: 6px;
}

nav button {
    cursor: pointer;
    color: var(--white);
    background-color: transparent;
    border: none;
    padding: 0;
    max-height: var(--unit-3);
    grid-row: 1;
    grid-column: 2;
    justify-self: end;
    margin-right: var(--unit-2);
    margin-bottom: var(--unit-2);
}

nav button:hover {
    color: var(--grey);
    background: transparent;
}

@keyframes menu-open {
    from {
        opacity: 0;
        visibility: collapse;
        height: 0;
        border-top: none;
    }
    to {
        opacity: 1;
        visibility: visible;
        height: initial;
        border-top: 1px solid var(--white);
    }
}

nav ul {
    grid-row: 2;
    grid-column: 1 / span 2;
    padding: 0;
    margin: 0;
    list-style: none;
    opacity: 0;
    visibility: collapse;
    height: 0;
    box-sizing: content-box;
}

nav ul.show {
    animation: menu-open 0.2s ease-in forwards;
}

nav ul li a {
    display: block;
    padding: var(--unit);
    border-bottom: 1px solid var(--grey-border);
    background-color: var(--menu);
    color: white;
    text-decoration: none;
}

nav ul #user {
    display: flex;
    align-items: center;
    cursor: initial;
    background-color: var(--menu);
    padding: var(--unit);
    font-weight: 500;
}

nav ul li #user:hover {
    text-decoration: none;
}

nav ul #user svg {
    margin-right: var(--unit);
}

nav ul li a:hover {
    background-color: var(--menu-hover);
    cursor: pointer;
}

nav ul li a:active, nav ul li a.active {
    background-color: var(--primary);
    font-weight: bold;
}

@media screen and (min-width: 960px) {
    nav button {
        display: none;
    }

    nav ul {
        grid-row: 1;
        grid-column: 2;
        justify-self: end;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        height: var(--unit-3);
        animation: initial;
        opacity: 1;
        visibility: visible;
        border: none;
    }

    nav ul li a, nav ul #user {
        background-color: transparent;
        border: none;
        margin-right: var(--unit-2);
        padding: 0;
    }

    nav ul li a:hover {
        background-color: transparent;
        text-decoration: underline;
    }

    nav ul li a:focus {
        text-decoration: none;
    }
}

main {
    padding-top: var(--unit-8);
    margin: 0 var(--unit-2);
}

#login {
    border: 1px solid var(--menu-border);
    padding: var(--unit-2);
    margin: auto;
    max-width: 400px;
}

#login input {
    margin: var(--unit-2) 0;
}

#login input:last-child {
    margin-bottom: 0;
}

label {
    font-weight: bold;
    display: block;
}

#add-location {
    margin: 0 var(--unit-2);
}

#add-location h1 {
    margin-bottom: var(--unit-2);
}

#add-location form > div {
    margin-bottom: var(--unit-2);
}

#add-location form label {
    margin-bottom: var(--unit);

}

#add-location form .price {
    display: flex;
    align-items: center;
}

#add-location form .price input {
    flex: 1;
}

#add-location form .price select {
    border-left: none;
    max-width: var(--unit-10);
}