@charset "UTF-8";

:root {
    --spacing-50: 4px;
    --spacing-100: 8px;
    --spacing-200: 12px;
    --spacing-300: 16px;
    --spacing-400: 24px;
    --spacing-500: 32px;
    --spacing-600: 48px;
    --spacing-700: 64px;
    --spacing-800: 96px;
    --spacing-900: 128px;
    --spacing-950: 192px;

    --font-50: 12px;
    --font-100: 14px;
    --font-200: 16px;
    --font-300: 18px;
    --font-400: 20px;
    --font-500: 24px;
    --font-600: 30px;
    --font-700: 36px;
    --font-800: 48px;
    --font-900: 60px;
    --font-950: 72px;

    --ronny-50: #fff1f1;
    --ronny-100: #ffe1e1;
    --ronny-200: #ffc8c7;
    --ronny-300: #ffa2a1;
    --ronny-400: #ff6c6a;
    --ronny-500: #f83d3b;
    --ronny-600: #e51f1d;
    --ronny-700: #c11614;
    --ronny-800: #9f1615;
    --ronny-900: #791716; /* official */
    --ronny-950: #480807;

    --radius: 6px;
    --line-height: 1.5;
    --heading-line-height: 1.25;
    
    --menu: #c44d56;
    --menu-hover: #d7868d;
    --menu-border: #943138;
    --grey: #F1F1F1;
    --grey-hover: #ffffff;
    --grey-border: #cbcbcb;
    --white: #ffffff;
    --danger: #f92d51;
    --danger-hover: #fb778f;
    --danger-border: #d3062a;
    --warning: #f7ca18;
    --warning-hover: #fadb62;
    --warning-border: #bc9707;
    --success: #3fc380;
    --success-hover: #79d5a7;
    --success-border: #2b8a5a;
    --dark: #383A42;
    --transparent-dark: #80383A42;
    --font: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

* {
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    margin: 0;
    font-family: var(--font);
    line-height: 1.4;
}

body > app {
    height: 100%;
    width: 100%;
    display: block;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    font-weight: 500;
}

/* Headings */
h1 {
    font-size: var(--font-600);
    line-height: var(--heading-line-height);
    margin-bottom: var(--spacing-400);
}

h2 {
    font-size: var(--font-500);
    line-height: var(--heading-line-height);
    margin-bottom: var(--spacing-300);
}

h3 {
    font-size: var(--font-400);
    line-height: var(--heading-line-height);
    margin-bottom: var(--spacing-200);
}

h4 {
    font-weight: bold;
}

h4, h5, h6 {
    font-size: var(--font-300);
    margin-bottom: var(--spacing-200);
}

@media screen and (min-width: 768px) {
    h1 {
        font-size: var(--font-700);
        margin-bottom: var(--spacing-400);
        line-height: var(--heading-line-height);
    }

    h2 {
        font-size: var(--font-600);
        margin-bottom: var(--spacing-400);
    }

    h3 {
        font-size: var(--font-500);
        margin-bottom: var(--spacing-200);
    }

    h4 {
        font-size: var(--font-400);
    }

    h4, h5, h6 {
        margin-top: var(--spacing-300);
    }
}

input, select, textarea {
    font-family: var(--font);
    border-radius: 0;
    display: block;
    box-sizing: border-box;
    font-size: var(--font-200);
    padding: var(--spacing-50);
    width: 100%;
    border: 1px inset var(--transparent-dark);
}

input, select {
    height: var(--spacing-500);
}

input.error {
    border: 2px solid var(--danger-border);
}

/* Buttons */
.btn, button, input[type=submit] {
    text-decoration: none;
    appearance: none;
    background-color: #fafbfc;
    border: 1px solid rgba(27, 31, 35, .15);
    border-radius: 0;
    box-shadow: #1b1f230a 0 1px, #ffffff40 0 1px inset;
    box-sizing: border-box;
    cursor: pointer;
    display: inline-block;
    font-family: var(--font);
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    list-style: none;
    padding: 6px 16px;
    position: relative;
    transition: background-color .2s cubic-bezier(.3, 0, .5, 1), transform 100ms;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: middle;
    white-space: nowrap;
    word-wrap: break-word;

    &:hover {
        background-color: #f3f4f6;
        text-decoration: none;
        transition-duration: .1s;
        transform: translateY(1px)
    }

    &:disabled {
        background-color: #fafbfc;
        border-color: #1b1f2326;
        color: #959da5;
        cursor: default
    }

    &:active {
        background-color: #edeff2;
        box-shadow: #e1e4e833 0 1px inset;
        transition: none 0s;
    }

    &:focus {
        outline: 1px transparent;
    }

    &::before {
        display: none;
    }

    &::-webkit-details-marker {
        display: none;
    }

    & i {
        margin-right: var(--spacing-200);
    }

    &.primary{
        background-color: var(--ronny-900);
        border-color: var(--ronny-950);
        color: var(--white);

        &:hover {
            background-color: var(--ronny-700);
        }
    }

    &.danger {
        background-color: var(--danger);
        border-color: var(--danger-border);
        color: var(--white);

        &:hover {
            background-color: var(--danger-hover);
        }
    }

    &.warning {
        background-color: var(--warning);
        border-color: var(--warning-border);
        color: var(--white);

        &:hover {
            background-color: var(--warning-hover);
        }
    }

    &.ghost {
        background-color: var(--white);
        border-color: var(--ronny-900);
        color: var(--ronny-900);
    
        &:hover {
            background-color: var(--ronny-700);
            border-color: var(--ronny-700);
            color: var(--white);
        }
    }
}

/* helper */
.center { text-align: center; }
.align-right { text-align: right; }

main {
    padding-inline: var(--spacing-200);
}

nav {
    background-color: var(--ronny-900);
    color: white;
    padding-top: var(--spacing-300);
    display: grid;
    grid-template-rows: auto auto;
    grid-template-columns: auto auto;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;
}

nav > a {
    margin-left: var(--spacing-300);
    margin-bottom: var(--spacing-300);
    grid-row: 1;
    grid-column: 1;
    justify-self: start;
}

nav > a img {
    display: block;
    height: var(--spacing-400);
}

nav a:hover img, nav button:hover svg {
    background: rgba(255, 255, 255, .25);
    border-radius: var(--radius);
}

nav button {
    cursor: pointer;
    color: var(--white);
    background-color: transparent;
    border: none;
    padding: 0;
    max-height: var(--spacing-400);
    grid-row: 1;
    grid-column: 2;
    justify-self: end;
    margin-right: var(--spacing-200);
    margin-bottom: var(--spacing-200);
}

nav button:hover {
    color: var(--grey);
    background: transparent;
}

@keyframes menu-open {
    from {
        opacity: 0;
        visibility: collapse;
        height: 0;
        border-top: none;
    }
    to {
        opacity: 1;
        visibility: visible;
        height: initial;
        border-top: 1px solid var(--white);
    }
}

nav ul {
    grid-row: 2;
    grid-column: 1 / span 2;
    padding: 0;
    margin: 0;
    list-style: none;
    opacity: 0;
    visibility: collapse;
    height: 0;
    box-sizing: content-box;
}

nav ul.show {
    animation: menu-open 0.2s ease-in forwards;
}

nav ul li a {
    display: block;
    padding: var(--spacing-200);
    border-bottom: 1px solid var(--grey-border);
    background-color: var(--menu);
    color: white;
    text-decoration: none;
}

nav ul #user a {
    display: flex;
    align-items: center;
    padding: var(--spacing-200);
    font-weight: 500;
}

nav ul #user a:hover {
    text-decoration: none;
}

nav ul #user a svg {
    margin-right: var(--spacing-50);
}

nav ul li a:hover {
    background-color: var(--menu-hover);
    cursor: pointer;
}

nav ul li a:active, nav ul li a.active {
    background-color: var(--ronny-900);
    font-weight: bold;
}

@media screen and (min-width: 960px) {
    nav button {
        display: none;
    }

    nav ul {
        grid-row: 1;
        grid-column: 2;
        justify-self: end;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        height: var(--spacing-400);
        animation: initial;
        opacity: 1;
        visibility: visible;
        border: none;
    }

    nav ul li a, nav ul #user {
        background-color: transparent;
        border: none;
        margin-right: var(--spacing-400);
        padding: 0;
    }

    nav ul li a:hover {
        background-color: transparent;
        text-decoration: underline;
    }

    nav ul li a:focus {
        text-decoration: none;
    }
}

main {
    padding-top: var(--spacing-800);
}

#login {
    border: 1px solid var(--menu-border);
    padding: var(--spacing-400);
    max-width: 400px;
    margin: var(--spacing-400) auto auto;
}

#login input {
    margin: var(--spacing-400) 0;
}

#login input:last-child {
    margin-bottom: 0;
}

label {
    font-weight: 500;
    display: block;
}

#add-location h1 {
    margin-bottom: var(--spacing-400);
}

form > div {
    margin-top: var(--spacing-400);

    & label {
        margin-bottom: var(--spacing-200);
    }
}

#add-location form > div > p {
    margin: 0;
}

#add-location form .price {
    display: flex;
    align-items: center;
}

#add-location form .price input {
    flex: 1;
}

#add-location form .price select {
    border-left: none;
    max-width: var(--spacing-700);
}

#add-location input[type=submit], #admin input[type=submit] {
    width: initial;
    margin-bottom: var(--spacing-400);
}

#add-location .error input {
    border: 1px solid var(--danger);
}

#add-location .error p {
    color: var(--danger);
    line-height: 1;
    margin: var(--spacing-300) 0 0;
}

#add-location .error #locationPickerContainer {
    outline: 1px solid var(--danger);
}

#locationPickerContainer button {
    display: block;
    margin-top: var(--spacing-400);
}

#add-location #others {
    margin-top: var(--spacing-100);
}

#add-location #others button {
    display: inline-block;
    margin-right: var(--spacing-200);
    margin-top:  var(--spacing-200);
}

#add-location #others button:first-child {
    margin-left: 0;
}

#add-location #selectedOthers {
    padding: 0;
    list-style: none;
    margin: var(--spacing-400) 0 0;
}

#add-location #selectedOthers li {
    display: flex;
    align-content: center;
    justify-content: space-between;
    margin-bottom: var(--spacing-200);
}

#add-location #selectedOthers li:last-child {
    margin-bottom: 0;
}

#add-location #selectedOthers li span {
    font-size: var(--font-300);
    font-style: italic;
}

#add-location #selectedOthers li button {
    padding: var(--spacing-100);
    display: flex;
}

#add-location #take-picture {
    & button {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;

        & svg {
            margin-left: var(--spacing-400);
        }

        & span {
            line-height: var(--spacing-600);
            font-size: var(--font-300);
        }
    }

    & img {
        margin: var(--spacing-300) 0;
    }

    & p {
        margin-bottom: var(--spacing-200);
    }

    &:has(img) p {
        margin-bottom: 0;
    }
}

#add-location pre {
    overflow-x: auto;
}

#submit-failed {
    margin-top: var(--spacing-600);
}

#submit-failed code pre { 
    color: var(--danger-border);
    background-color: var(--grey);
    padding: var(--spacing-400);
}

@media screen and (min-width: 600px) {
    #add-location, #admin {
        max-width: 600px;
        margin: auto;
    }
}

#world-map {
    margin: 0;
    padding: 0;
    max-width: initial;
    height: 100%;
}

#detail {
    z-index: 100;
    display: flex;
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .20);
}

#detail > div {
    border: 3px solid var(--ronny-900);
    margin: auto;
    padding: var(--spacing-400);
    background-color: var(--white);
    position: relative;
    width: calc(100vw - var(--spacing-800));
    max-width: 420px;
    box-sizing: border-box;
}

#detail h1 {
    font-size: var(--font-600);
}

#detail .close {
    position: absolute;
    right: -18px;
    top: -18px;
    background-color: var(--ronny-900);
    color: var(--white);
    border-radius: 18px;
    height: 36px;
    width: 36px;
    cursor: pointer;
}

#detail img {
    width: 100%;
    object-fit: contain;
}

#detail blockquote {
    margin: var(--spacing-400) 0 0;
    font-style: italic;
}

#detail p:last-of-type {
    margin-bottom: 0;
}

table {
    margin-top: var(--spacing-400);
    width: 100%;
    border-collapse: collapse;
}

table th {
    text-align: left;
}

table th, table td {
    display: table-cell;
    border-top: 1px solid var(--grey);
    border-bottom: 1px solid var(--grey);
    box-sizing: border-box;
    border-collapse: collapse;
}

table th {
    color: var(--ronny-900);
    cursor: pointer;
}

table th:active {
    color: var(--dark);
    font-weight: bold;
}

table th:hover {
    font-weight: bold;
    text-decoration: underline;
}

table th, table td {
    padding: var(--spacing-400);
}

table tbody tr:nth-child(2n - 1) {
    background-color:var(--grey);
}

table a {
    color:var(--ronny-900);
    text-decoration: none;
}

table a:hover {
    text-decoration: underline;
}

@media screen and (min-width: 960px) {
    main {
        max-width: 960px;
        margin: auto;
    }
}

.highscore {
    display: flex;
    align-items: center;
}

.highscore svg {
    margin-right: var(--spacing-100);
    color: #F6CF57;
}

#manifesto h2 {
    font-size: calc( 1.75 * var(--spacing-400));
}

#manifesto ol {
    list-style: upper-roman;

    & li {
        padding: var(--spacing-200) 0;
    }
}

dt {
    font-weight: bold;
    margin-block: var(--spacing-200);
}

dd {
    margin: 0;
}

#admin {
    .success {
        background-color: var(--success);
        padding: var(--spacing-400);
        color: var(--white);
    }
}