@charset "UTF-8";

:root {
    --spacing-50: 4px;
    --spacing-100: 8px;
    --spacing-200: 12px;
    --spacing-300: 16px;
    --spacing-400: 24px;
    --spacing-500: 32px;
    --spacing-600: 48px;
    --spacing-700: 64px;
    --spacing-800: 96px;
    --spacing-900: 128px;
    --spacing-950: 192px;

    --font-50: 12px;
    --font-100: 14px;
    --font-200: 16px;
    --font-300: 18px;
    --font-400: 20px;
    --font-500: 24px;
    --font-600: 30px;
    --font-700: 36px;
    --font-800: 48px;
    --font-900: 60px;
    --font-950: 72px;

    --ronny-50: #fff1f1;
    --ronny-100: #ffe1e1;
    --ronny-200: #ffc8c7;
    --ronny-300: #ffa2a1;
    --ronny-400: #ff6c6a;
    --ronny-500: #f83d3b;
    --ronny-600: #e51f1d;
    --ronny-700: #c11614;
    --ronny-800: #9f1615;
    --ronny-900: #791716; /* official */
    --ronny-950: #480807;

    --radius: 6px;
    --line-height: 1.5;
    --heading-line-height: 1.25;
    
    --menu: #c44d56;
    --menu-hover: #d7868d;
    --menu-border: #943138;
    --grey: #F1F1F1;
    --grey-hover: #ffffff;
    --grey-border: #cbcbcb;
    --white: #ffffff;
    --danger: #5a228b;
    --danger-hover: #8231c8;
    --danger-border: #32134e;
    --warning: #f7ca18;
    --warning-hover: #fadb62;
    --warning-border: #bc9707;
    --success: #3fc380;
    --success-hover: #79d5a7;
    --success-border: #2b8a5a;
    --dark: #383A42;
    --transparent-dark: #80383A42;
    --font: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

* {
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    margin: 0;
    font-family: var(--font);
    line-height: 1.4;
}

body > app {
    height: 100%;
    width: 100%;
    display: block;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    font-weight: 500;
}

/* Headings */
h1 {
    font-size: var(--font-600);
    line-height: var(--heading-line-height);
    margin-bottom: var(--spacing-400);
}

h2 {
    font-size: var(--font-500);
    line-height: var(--heading-line-height);
    margin-bottom: var(--spacing-300);
}

h3 {
    font-size: var(--font-400);
    line-height: var(--heading-line-height);
    margin-bottom: var(--spacing-200);
}

h4 {
    font-weight: bold;
}

h4, h5, h6 {
    font-size: var(--font-300);
    margin-bottom: var(--spacing-200);
}

@media screen and (min-width: 768px) {
    h1 {
        font-size: var(--font-700);
        margin-bottom: var(--spacing-400);
        line-height: var(--heading-line-height);
    }

    h2 {
        font-size: var(--font-600);
        margin-bottom: var(--spacing-400);
    }

    h3 {
        font-size: var(--font-500);
        margin-bottom: var(--spacing-200);
    }

    h4 {
        font-size: var(--font-400);
    }

    h4, h5, h6 {
        margin-top: var(--spacing-300);
    }
}

input, select, textarea {
    font-family: var(--font);
    border-radius: 0;
    display: block;
    box-sizing: border-box;
    font-size: var(--font-200);
    padding: var(--spacing-50);
    width: 100%;
    border: 1px inset var(--transparent-dark);
}

input, select {
    height: var(--spacing-500);
}

input.error {
    border: 2px solid var(--danger-border);
}

/* Buttons */
.btn, button, input[type=submit] {
    text-decoration: none;
    appearance: none;
    background-color: #fafbfc;
    border: 1px solid rgba(27, 31, 35, .15);
    border-radius: 0;
    box-shadow: #1b1f230a 0 1px, #ffffff40 0 1px inset;
    box-sizing: border-box;
    cursor: pointer;
    display: inline-block;
    font-family: var(--font);
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    list-style: none;
    padding: 6px 16px;
    position: relative;
    transition: background-color .2s cubic-bezier(.3, 0, .5, 1), transform 100ms;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: middle;
    white-space: nowrap;
    word-wrap: break-word;

    &:hover {
        background-color: #f3f4f6;
        text-decoration: none;
        transition-duration: .1s;
        transform: translateY(1px)
    }

    &:disabled {
        background-color: #fafbfc;
        border-color: #1b1f2326;
        color: #959da5;
        cursor: default
    }

    &:active {
        background-color: #edeff2;
        box-shadow: #e1e4e833 0 1px inset;
        transition: none 0s;
    }

    &:focus {
        outline: 1px transparent;
    }

    &::before {
        display: none;
    }

    &::-webkit-details-marker {
        display: none;
    }

    & i {
        margin-right: var(--spacing-200);
    }

    &.primary{
        background-color: var(--ronny-600);
        border-color: var(--ronny-800);
        color: var(--white);

        &:hover {
            background-color: var(--ronny-700);
        }
    }

    &.danger {
        background-color: var(--danger);
        border-color: var(--danger-border);
        color: var(--white);

        &:hover {
            background-color: var(--danger-hover);
        }
    }

    &.warning {
        background-color: var(--warning);
        border-color: var(--warning-border);
        color: var(--white);

        &:hover {
            background-color: var(--warning-hover);
        }
    }

    &.ghost {
        background-color: var(--white);
        border-color: var(--ronny-600);
        color: var(--ronny-600);
    
        &:hover {
            background-color: var(--ronny-700);
            border-color: var(--ronny-700);
            color: var(--white);
        }
    }
}

/* helper */
.center { text-align: center; }
.align-right { text-align: right; }

main {
    padding-top: var(--spacing-800);
    padding-inline: var(--spacing-200);
}

@media screen and (min-width: 960px) {
    main {
        max-width: 960px;
        margin: auto;
    }
}
