name: Release to production

on:
  push:
    branches: [ main ]

permissions:
  contents: read
  pages: write
  id-token: write

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Setup .NET Core
        uses: actions/setup-dotnet@v3
        with:
          dotnet-version: '7.0.4xx'
          dotnet-quality: 'daily'
      - name: Restore local tools
        run: dotnet tool restore
      - name: Build frontend
        run: dotnet fsi app/dev-server.fsx build
      - name: Upload artifact
        uses: actions/upload-pages-artifact@v1
        with:
          path: ./app/dist

  deploy:
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    runs-on: ubuntu-latest
    needs: build
    steps:
      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v1